//font-family
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$suez: 'Suez One';
$pt : 'PT Sans';

// colors
$reway-blue:#00A2FF;
$reqay-white:#FFFFFF;
$reway-gray:#828282;
$black:#000000;
$grey:#4A4A4A;
$light-grey: #EAEAEA;
$reway-light-grey: #82828280;

// fonts
//font-size
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size17: 17px;
$font-size20: 20px;
$font-size30: 30px;

//font-weight
$regular: 400;
$bold: 700;
//break points