@import '../../assets/styles/variables/variables.scss';

.header {
    width: 100%;
    background-color: $light-grey;

    &_container {
        display: flex;
        padding: 26px 54px 29px 139px;
        align-items: center;
    }

    &_title {
        font-family: $suez;
        color: $reway-gray;
        font-size: $font-size17;
        line-height: 22px;
        text-transform: uppercase;
        margin: 0;
        width: 70%;
    }
    &_left {
        display: flex;
        align-items: center;
        .header_title {
            width: unset;
        }
        .button {
            margin-right: 25px;
        }
    }
}